// Navigation code here

.navbar {
    .column();
    background-color: whitesmoke;
    h1 {
        margin: 2%;
        font-size: 3rem;
    }

    nav {
        width: 80%;
        font-size: 1.5rem;
        margin-bottom: 2%;
        display: flex;
        justify-content: space-evenly;

        a {
            text-decoration: none;
            color: black;
        }
    }
}